@import '../../../styles.scss';

.content {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 64px);

  #map {
    height: 100%;
    width: calc(100vw - 400px);
    border-radius: 8px;
    margin: 1rem;
  }

  .legend {
    width: 400px;
    border-radius: 8px;
    overflow-y: auto;
    height: 100%;
    margin: 1rem;
    margin-left: 0;
    background-color: $white;

    .location-group {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      &:hover {
        background-color: $gray;
        cursor: pointer;
      }
    }
  }
}
